In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### load boston real estate prices data set from sklearn.datasets module

In [14]:
from sklearn.datasets import load_boston
boston = load_boston()
dir(boston)

['DESCR', 'data', 'feature_names', 'target']

In [20]:
data = boston["data"]
target = boston["target"]

X = pd.DataFrame(data,columns=boston["feature_names"])
y = pd.DataFrame(target,columns=["Price"])

In [21]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [22]:
y.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

### Split the data into training and test set using the function sklearn.model_selection.train_test_split

In [23]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y)

Data is divided into 75 and 25 percent for training and test set

### load the Linear Regression class

In [24]:
from sklearn.linear_model import LinearRegression

* Hyper-parameters are initial configuration of Models
* Initialize LinearRegression model with default hyper-parameters

In [25]:
lr = LinearRegression()

#### Common Hyperparameters
* fit_interceprt - Whether to calculate intercept for the model, not required if data is centered
* normalize - X will be normalized by subtracting mean & dividing by standard deviation

* <b>PS: By stanrdadizing data before subjecting to model, coef's tells the importance of features</b>

#### Common Attributes
* coef - weights for each independent variables
* intercept - bias of independent term of linear models

#### Common Functions
* fit - trains the model. Takes X & Y
* predict - Once model is trained, for given X using predict function Y can be predicted

#### Multiple Target
* Y can be of more than 1 dimension
* Advantages of multiple target are 
  - computationally fast
  - model is optimized for multiple targets
  - model do not use relationship between targets
  - model is more interpretable
  
<hr/>

### Training model
* X should be in rows of data format, X.ndim == 2
* Y should be 1D for simgle target & 2D for more than one target
* fit function for training the model

In [26]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
lr.coef_

array([[-1.11708602e-01,  3.82518131e-02,  8.61213981e-03,
         3.89439886e+00, -1.43361089e+01,  4.18536882e+00,
        -1.05927089e-02, -1.32506077e+00,  2.85780242e-01,
        -1.32078812e-02, -8.95004516e-01,  8.11786834e-03,
        -4.84847054e-01]])

In [28]:
lr.intercept_

array([31.87550956])

### Predicting using trained model

In [30]:
pred = lr.predict(X_test)

### calculate the regression metrics

In [31]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [33]:
mean_absolute_error(y_test,pred)

3.750049085806087

In [34]:
mean_squared_error(y_test,pred)

31.611391489101507

In [37]:
r2_score(y_test,pred)

0.6740762594311651